@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    
    /* box-sizing: border-box; */
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}
    .main-container{
    display: flex;
    overflow: hidden;
    background-color: black;
}
.left-bar{
height: 89vh;
padding-top: 20px;
padding-left: 20px;
position: relative;
}
.left-content{
    height: 98%;
    display: flex;
    flex-direction: column;
    
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
}
.playlist>a{
    text-decoration: none;
    color : #FFFFFF;
    padding-left: 18px;
    font-size: 15px;
    /* font-weight: 600; */
    /* line-height: 25px; */
    /* letter-spacing: -0.06em; */
    text-align: left;
color: whitesmoke;

}
.logo{
    width: 202.5760955810547px;
    height: 60.525787353515625px;
    top: 39.2918701171875px;
    left: 35.8214111328125px;
    /* bottom: 35px; */
    
}
.playlist-container,.home-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding-top: 10px;
 }
 .active{
    width: 95%;
    background-color: #282828;
 }
 .home, .search, .library, .playlist,
 .liked-songs{
    display: flex;
   
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    width: 95%;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
 }
 .home:hover, .search:hover, 
 .library:hover, .playlist:hover,
 .liked-songs:hover{
  cursor: pointer;
  background-color: #212121;

 }
 .left-nav,.playlist-container>h1{
    padding-left: 18px;
    font-size: 15px;
    /* font-weight: 700; */
    /* line-height: 25px; */
    text-align: left;
color: whitesmoke;
 }
 .leftnavimg{
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 5px;
 }
 .left-nav>img{
  box-sizing: border-box;
width: 22px;
margin-right: 15px;
 }
.left-pic>img{
        height: 250px;
    /* padding-top: 20px; */
    /* padding-left: 0px; */
    position: absolute;
    bottom: 10px;
    width: 95%;
}
