@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    ::-webkit-scrollbar{
      display: none;
    }
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}
    .main-container{
    display: flex;
    overflow: hidden;
    background-color: black;
}
.left-bar{
height: 89vh;
padding-top: 20px;
padding-left: 20px;
position: fixed;
}
.left-content{
    height: 98%;
    display: flex;
    flex-direction: column;
}
.playlist>a{
    text-decoration: none;
    color : #FFFFFF;
    padding-left: 18px;
    font-size: 15px;
    text-align: left;
color: whitesmoke;

}
.logo{
    width: 202.5760955810547px;
    height: 60.525787353515625px;
    top: 39.2918701171875px;
    left: 35.8214111328125px;
    
}
.playlist-container,.home-container{
    display: flex;
    flex-direction: column;

    padding-top: 10px;
 }
 .active{
    width: 95%;
    background-color: #282828;
 }
 .home, .search, .library, .playlist,
 .liked-songs{
    display: flex;
   
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    width: 95%;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
 }
 .home:hover, .search:hover, 
 .library:hover, .playlist:hover,
 .liked-songs:hover{
  cursor: pointer;
  background-color: #212121;

 }
 .left-nav,.playlist-container>h1,.playlist-home{
    padding-left: 18px;
    font-size: 15px;
    text-align: left;
color: whitesmoke;
text-decoration: none;
 }
 .leftnavimg{
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 5px;
 }
 .left-nav>img{
  box-sizing: border-box;
width: 22px;
margin-right: 15px;
 }
.left-pic>img{
        height: 250px;
    position: absolute;
    bottom: 10px;
    width: 95%;
}


/* right-part */


.right-part{
  width:100%;
  padding-left: 16%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.right-top{
  height: 40%;
  width: 100%;

  background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);
  position: fixed;
}
.hero-section{
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: whitesmoke;
}
.hero-section>img{
  height: 230px;
  width: 230px;
  margin-top: 40px;
}
.hero-text{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  
}
.hero-text>h1{
  font-size:55px;
  font-weight: 900;
  color: whitesmoke;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.hero-text>p{

font-size: 13px;
font-style: normal;
font-weight: 200;
line-height: normal;
letter-spacing: -0.26px;
}

.text-2{
  margin-top: 5px;
}
.middle{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-right: 30px;
  gap: 10px;
  position: fixed;
  padding-left: 30px;
}
.middle>img{
  width: 30px;
  height: 35px;
  
}
.title-bar{
  
  height: 35px;
  position: fixed;
  margin-top: 22%;
 align-items: center;
 background-color: #141918;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:300px;
  padding-left: 50px;
  
  border-radius: 0px;
}
.title-bar>p{
  color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.32px;
padding-left: 15px;

}

.right-1{
  display: flex;
  flex-direction: column;
overflow: scroll;
height: 400px;
margin-top: 60%;
 
}
.songs{
 width: 98%;
  color: #FFF;
  padding-left: 20px;
  padding-right: 10px;
 margin: 5px;
}

.songs:hover{

  background-color: #242626;
  border-radius: 10px;
}
.songs-list{
  height: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  border-radius: 6px;
 
  
}
.songs-list>img{
  margin-top: 3px;
}
.full-song{
  display: flex;
  flex-direction: row;
}
.full-song>img{
  height: 30px;
}
.song-name>p{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: px;
  justify-content: center;
font-size: 11px;
font-style: normal;
font-weight: 300;
padding-left: 10px;
/* line-height: 18.188px;  */
}
.album-name{
  padding-left: 150px;
  font-size: 14px;
font-style: normal;
font-weight: 300;
align-items: center;
justify-content: center;
display: flex;
}
.date-added{
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 230px;
}
.song-duration{
  display: flex;
  flex-direction: row;
padding-left: 280px;
gap: 30px;
  justify-content: center;
  align-items: center;
}
.active{
  background-color: #212423;
}
/* footer */

.bottom{
    padding: 40px 20px;
    width: 100%;
    height: 10vh;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
  }
 
  .songName{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    width: 25%;
  }
  .songname{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .songName>img{
    width: 60px;
  }
  .songName>div>h2{
    padding-top: 15px;
    font-size: 18px;
    color: whitesmoke;
    display: flex;
    justify-content: baseline;
    font-weight: 600;
  }
  .songName>div>p{
    font-size: 10px;
    display: flex;
    justify-content: baseline;
    color: whitesmoke;
    padding: 0px;
    color:  #B3B3B3; 
  }
 .green-heart{
    height: 30px;
 }
 
  .playControls{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  .bottom-keys{
    display: flex;
    justify-content: center;
}
.bottom-keys>img{
    padding-inline: 10px;
    padding-bottom: 5px;
}
  .playControls>.control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .control>img{
    width: 25px;
  }
  
  .bar{
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: whitesmoke;
  }
  .bar>p{
    height: 8px;
    padding-bottom: 10px;
  }
  .music-bar{
    height: 8px;
    width: 400px;
  }
  .musichov{
   mix-blend-mode: screen;
   transition: all 0.2s ease-in;
   padding-top: 8px;
  }
  .musichov:hover{
   box-shadow: 1px 1px 20px gray;
   cursor: pointer;
  }
 
 
  .volume{
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .vol{
    width: 20px;
    mix-blend-mode: screen;
    transition: all 0.2s ease-in;
  }
 
  .black-spek{
    width: 30px;
    height: 30px;
  }
  .vol:hover{
   box-shadow: 1px 1px 10px gray;
   cursor: pointer;
  }
  

 
 footer{
    position: fixed;
    bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
 }

@media (max-width:475px) {
  .left-content{
    display: flex;
    flex-direction: row;
  }
  .left-content{
    width: 100%;
    height: 10%;
    
  }  
.home-container,.playlist-container,.liked-songs{
  display: none;
}
.left{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left>img{
  width: 30%;
}
.left>i{
  padding-left: 140px;
  padding-top: 0%;
}

  .main-container{
    display: flex;
    flex-direction: column;
  }
  .right-top{
    top:15%;
    padding-left: 0px;
  }
  .right-part{
    width:auto;
  }
}
@media (min-width:760px) {
  .left>i{
    display: none;
  }
}