@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
   }
   *::-webkit-scrollbar {
      display: none;
    }
    a{
      color: whitesmoke;
      text-decoration: none;
      font-size: 15px;
    }
    .container{
        width: 100%;
        height: 90vh;
        display: flex;
        background-color: #000000;
    }
.left{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: #000000;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}    
.logo{
    width: 131px;
height: 40px;
top: 19px;
left: 24px;
padding: 0.47058823704719543px 0.9241649508476257px 0.11764952540397644px 0.9241626858711243px;
}
.home{
    width: 216px;
height: 40px;
top: 84px;
left: 8px;
display: flex;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
border-radius: 5px;
width: 95%;
transition: all 0.2s ease-in-out;
}